body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #12372A;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.descripcion {
  padding: 1rem 2rem;
  background-color: #fff;
}

.volumenes {
  padding: 1rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.volumen {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.volumen:hover {
  transform: scale(1.03);
}

.volumen img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.por-publicar {
  background-color: #ccc;
  padding: 4rem 1rem;
  border-radius: 8px;
  color: #666;
  font-weight: bold;
}

.contenido-oculto {
  display: none;
  padding: 1rem 2rem;
  background-color: #fff;
  margin-top: 1rem;
}

.contenido-oculto.visible {
  display: block;
}

.preview-imgs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.preview-imgs img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

footer {
  background-color: #12372A;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
